flask
pymongo
flask-mongoengine
mongoengine
requests
flask_pymongo
eventlet
Flask-SocketIO
Flask-WTF
dnspython < 2.0.0
greenlet
python-engineio
python-socketio
gunicorn
redis
Flask-Reuploaded
boto3
python-dotenv
gevent