<html>

<head>
    <title>Flask-SocketIO-Chat: {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function() {
            console.log("SESSION-ID = "+"{{session_id}}")
            socket = io.connect('http://' + document.domain + ':' + location.port + '/socket_io',{
                query: "SESSION-ID={{session_id}}",
                rememberTransport: false,
                transports: ['websocket']
            });
            socket.on('connect', function() {
                socket.emit('joined', {chat_id:"{{chat_id}}"});
            });
            socket.on('status', function(data) {
                console.log("data = "+data.messages)
                $('#chat').val($('#chat').val() + '<' + data.message + '>\n');
                $('#chat').val($('#chat').val() + data.messages + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function(data) {
                console.log("data recieved" + data.message);
                $('#chat').val($('#chat').val() + data.message + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {
                        message: text,
                        chat_id: "{{chat_id}}",
                        author_id: "{{user_id}}",
                        author_email: "{{name}}"
                    });
                }
            });
        });

        function leave_room() {
            socket.emit('left', {}, function() {
                socket.disconnect();

                // go back to the login page
                window.location.href = "{{ url_for('chat.index') }}";
            });
        }
    </script>
</head>

<body>
    <h1>Flask-SocketIO-Chat: {{ room }}</h1>
    <h2>Buyer {{buyer_email}} Seller {{seller_email}} Product {{product_name}}</h2>
    <textarea id="chat" cols="80" rows="20"></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <a href="#" onclick="leave_room();">Leave this room</a>
</body>

</html>